.ui-sail-loading-icon {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2A2A2A;
    background-image: url("../loader32.gif");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 46px 46px;
    
    border-radius: 36px 36px 36px 36px;
    display: block;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    padding: 1px;
    width: 44px;
}


.ui-body-a, .ui-overlay-a {
    background-color: #57A957;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    background-image: -webkit-linear-gradient(top, #62C462, #57A957);
    background-image: -o-linear-gradient(top, #62C462, #57A957);
    background-image: linear-gradient(top, #62C462, #57A957);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.ui-body-error, .ui-overlay-error  {
    background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-image: -webkit-linear-gradient(top, #EE5F5B, #C43C35);
    background-image: -o-linear-gradient(top, #EE5F5B, #C43C35);
    background-image: linear-gradient(top, #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.ui-loader-verbose {
    height: auto;
    margin-left: -150px;
    margin-top: -43px;
    opacity: 0.90;
    padding: 10px;
    width: 280px;
}

/* responsive page widths */
.ui-mobile-viewport {
    margin: 0;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust:none;
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
}

.hide{
    display: none;
}

.comment {
    background: orange;
}

.question {
    background: yellow;
}

.tags{
    margin-top:5px;
}

.tag {
    background: none repeat scroll 0 0 rgba(200, 200, 200, 0.5);
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: 2px 4px;
}

.author {
    color: #999999;
    font-size: 11px;
    padding: 2px;
}

.contribution-element{
    border-bottom: 1px solid #000000;
    padding: 0 0.8em;
}

.ui-header .ui-title, .ui-footer .ui-title {
    float:right;
    margin: .6em 5% .8em;
}

#select-location {
 /* This messes a bit*/
    /* margin-left: 3%;*/
    /* width: 40%;*/
}