/* this is mostly lifted from common-knowledge-smartboard.css */

body {
  /*background: url("/images/common_habitats.png");*/
  background-size: 70% auto;
  background-position: 0 100px;
  overflow: hidden;
  background: #eee;
}

header {
  display: none;
}

#wall {
  position: absolute;
  top: 10px;
  bottom: 0px;
  right: 150px;
  left: 150px;

  -moz-perspective: 900px;
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 900px;
  -webkit-transform-style: preserve-3d;
  perspective: 900px;
  transform-style: preserve-3d;
}

.toolbar {
  border-radius: 8px !important;
  position: absolute;
  text-align: center;
}

.toolbar ul {
  list-style: none;
  margin: 5px;
  padding-left: 0;
  text-align: left;
}

.toolbar .titlebar {
  margin-bottom: 0.5em;
}

.toolbar.ui-draggable .titlebar {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.toolbar.ui-draggable-dragging .titlebar {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.toolbar ul li {
  background-color: #444;
  border: 3px solid #aaa;
  border-radius: 10px;
  padding: 3px 8px;
  margin-bottom: 6px;
  overflow: hidden;
}

.toolbar ul li:hover {
  cursor: pointer;
}

.toolbar li.selected {
  background-color: #0a0;
  border: dotted #0f0;
}

.toolbars-left {
  position: absolute;
  left: -140px;
  top: 10px;
  width: 160px;
  bottom: 0px;

  -moz-transform: rotateY(20deg) translateY(-2px);
  -webkit-transform: rotateY(15deg) translateY(-10px) translateX(10px);
  transform: rotateY(20deg) translateY(-10px);
}

.toolbars-right {
  position: absolute;
  right: -140px;
  top: 10px;
  width: 160px;
  bottom: 0px;

  -moz-transform: rotateY(-20deg) translateY(-2px);
  -webkit-transform: rotateY(-15deg) translateY(-10px) translateX(-10px);
  transform: rotateY(-20deg) translateY(-10px);
}

.filter-list-container {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#tags-filter,
#participants-filter,
#about-filter,
#discourse-filter {
  width: 100%;
  position: static;
  margin-bottom: 10px;
  overflow: hidden;
}

#tags-filter {
  max-height: 72%;
  height: 72%;
}

#participants-filter {
  max-height: 72%;
  height: 72%;
}

#discourse-filter {
  max-height: 22%;
  height: 22%;
}

#about-filter {
  max-height: 22%;
  height: 22%;
}

div.none-yet {
  padding: 10px;
  font-style: italic;
  opacity: 0.6;
}

.balloon {
  position: absolute;
  width: 300px;
  
  border-radius: 15px;
  background-color: rgba(256,256,256,0.9);
  box-shadow: rgba(0,0,128,0.25) 3px 3px 4px;
}

.balloon:hover {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.balloon.ui-draggable-dragging {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.balloon.blurred {
  opacity: 0.15;
}

.balloon .about.author {
  color: #999999;
  font-size: 11px;
  margin-bottom: 1em;
  padding: 2px;
  position: absolute;
  right: 6px;
  top: 0;
}

.balloon h3.headline {
  margin: 0;
}

.balloon .tags {
  font-size: 11px;
  margin: 0 8px 6px;
}

.balloon .tag {
  background: #ddf;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  padding: 2px 4px;
}

.balloon .text {
  margin-top: 0.5em;
  font-size: 14px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
}