
/* This hides any element with class alert directly after an input field with a pattern (regex) */
input[pattern] + .alert {
  display: none;
}

/* If pattern (regex) is violated alert is shown */
input[pattern]:invalid + .alert {
  display: inline-block;
}

input:disabled
{
  display: none;
}

#login-button:disabled
{
  display: none;
}

.username-display .hide {
  display: none;
}

.input-alert {
  position: absolute;
  margin-top: 20%;
  width: 28em;
}